.slider {
    
    display: flex;
    margin: 0 auto;
    position: absolute;
    z-index: 12;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 700px;
}

.slider_image {
    width: 100%;
    height: 100%;
}

.arrow-box {
    position: relative;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background: #8FBAC0;
    z-index: 20;
}
.triangle {
    position: absolute;
    top: 27.5%;
    left: 42%;
    transform: translate(-50%, -50%);
	position: relative;
	background-color: #fff;
	text-align: left;
    cursor: pointer;
}
.triangle.--right{
    top: 35%;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  15px;
	height: 15px;
	border-top-right-radius: 40%;
}

.triangle {
	transform: rotate(-30deg) skewX(-30deg) scale(1,.866);
}
.triangle.--right {
	transform: rotate(30deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.right_arrow {
    position: absolute;
    top: 50%;
    right: -80px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.left_arrow {
    position: absolute;
    top: 50%;
    left: -80px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}
.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

@media (max-width: 950px) {

    .slider {
        width: 300px;
        height: 500px;
    }
    
    .left_arrow {
        left: -40px;
    }
    .right_arrow {
        right: -40px;
    }
}